@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
/* Material Icons Outlined*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
/* font-awsome v6.1.1 */
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');
/* swiper 11 */

/* 두루누비 New pc */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
}
body {
    min-width: 1280px;
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorGreen: #36A142;
    --colorBlue: #347FDF;
    --colorOrange: #F36938;
    --colorGreenDark: #26712e;
    --colorBlueDark: #24599c;
    --colorOrangeDark: #aa4a27;
    --colorGreenLight: #59BB8E;
    --colorBlueLight: #6496D4;
    --colorOrangeLight: #F9A98B;
    --colorWhite: #fff;
    --colorFontDark: #4a4a4a;
    --colorFontBasic: #666;
    --colorFontLight: #969696;
    --swiper-theme-color: var(--colorWhite);
    --swiper-navigation-size: 0.8rem;
}

/* 스크롤바 커스텀 */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--colorFontLight) var(--colorWhite);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    /* width of vertical scrollbar */
    height: 8px;
    /* height of horizontal scrollbar */
}
*::-webkit-scrollbar-track {
    background: #f9f9f9;
}



i > span {
    display: inline-block;
    width: 0;
    height: 0;
    text-indent: -100px;
    overflow: hidden;
}
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
h2 {
    font-size: 2.125rem;
    line-height: 1;
    font-weight: 400;
}

header {
    position: relative;
    z-index: 100;
}

.global {
    width: 100%;
    height: 58px;
    background: #0D2E3B;
    display: flex;
    justify-content: space-between;

}
.global .left,
.global .right {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.global a:link,
.global a:visited {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875rem;
    color: var(--colorFontLight);
}
.global a:hover {
    color: rgba(255, 255, 255, 1);
}
.global a:active {
    color: var(--colorGreen);
}
.global a::before {
    content: "";
    width: 1px;
    height: 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 0 5px;
}
.global a:first-child::before {
    display: none;
}

.global a.sns {
    color: rgba(255, 255, 255, 0.5);
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -500px;
    overflow: hidden;
    border-radius: 50%;
}
.global a.sns:nth-last-child(1) {
    background: rgba(255, 255, 255, 0.12) url(/ex/images/duru/instagram.svg) no-repeat 50% 50% / 24px 24px;
}
.global a.sns:nth-last-child(1):hover {
    background: rgba(255, 255, 255, 0.1) url(/ex/images/duru/instagram_on.svg) no-repeat 50% 50% / 24px 24px;
}
.global a.sns:nth-last-child(2) {
    background: rgba(255, 255, 255, 0.12) url(/ex/images/duru/blog.svg) no-repeat 50% 50% / 24px 24px;
    margin: 0 10px 0 12px;
}
.global a.sns:nth-last-child(2):hover {
    background: rgba(255, 255, 255, 0.1) url(/ex/images/duru/blog_on.svg) no-repeat 50% 50% / 24px 24px;
}
.global a.sns:nth-last-child(3) {
    background: rgba(255, 255, 255, 0.12) url(/ex/images/duru/facebook.svg) no-repeat 50% 50% / 24px 24px;
    margin: 0 0 0 20px;
}
.global a.sns:nth-last-child(3):hover {
    background: rgba(255, 255, 255, 0.1) url(/ex/images/duru/facebook_on.svg) no-repeat 50% 50% / 24px 24px;
}

.inner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.inner {
    height: 90px;
}
nav.inner a.logo {
    width: 145px;
    height: 50px;
    display: block;
    text-indent: -500px;
    overflow: hidden;
    background: url(/ex/images/duru/durunubi_logo_new_color.png) no-repeat 50% 50% / 100%;
}
.nav {
    display: flex;
    align-items: stretch;
    height: 100%;
}
.nav ul.gnb {
    display: inherit;
}
.nav ul.gnb > li {
    font-size: 1.125rem;
    line-height: 1;
    color: var(--colorFontBasic);
    margin: 0 40px 0 0;
    position: relative;
    white-space: nowrap;
}
.nav ul > li > a {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav ul > li > a:hover {
    color: var(--colorFontDark);
}
.nav ul.gnb ul.snb {
    display: flex;
    position: absolute;
    gap: 0 20px;
    left: 0;
}
.nav ul.gnb li:last-of-type ul.snb {
    left: auto;
    right: 0;
}
.nav ul.gnb > li > ul.snb > li {
    position: relative;
    z-index: 100;
    overflow: hidden;
    height: 0;
    font-size: 1rem;
}
.nav ul.gnb > li > ul.snb::before {
    content: "";
    position: fixed;
    display: block;
    width: 100%;
    height: 0;
    top: 148px;
    left: 0;
}
.nav ul.gnb > li:hover > ul.snb > li,
.nav ul.gnb > li:hover > ul.snb::before {
    height: 60px;
    transition: all 0.3s;
}
.nav ul.gnb > li:hover > ul.snb::before {
    background: var(--colorWhite);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.nav > span {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--colorFontBasic);
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
}
.nav span:first-of-type {
    margin: 0;
}
section,
.section {
    width: 100%;
    display: flex;
}
.sec01 {
    position: relative;
    z-index: 50;
    height: 650px;
    background: radial-gradient(farthest-side at 98% 98%, #9BCC94, #239D9D, #2F87A5,
            rgba(31, 107, 133, 0.25), rgba(31, 107, 133, 0)),
        radial-gradient(farthest-side at 10% 0%, #1C3C79, #33A0CB);
}
.sec01 .inner {
    gap: 0 30px;
    padding: 30px 0;
}
.sec01 .inner > div {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0 10px;
}
.sec01 .inner > div.left {
    flex: 1 1 850px;
    padding: 10px;
}


/* 스와이퍼 커스텀 */
#banner {
    max-width: 830px;
    height: 100%;
    position: relative;
}
#banner .swiper-wrapper {}
#banner .swiper-slide {
    height: 88%;
    overflow: hidden;
}
#banner .swiper-slide img {
    width: 100%;
    margin-top: -81px;
}
#banner .swiper-control {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 20px;
    position: absolute;
    bottom: 0;
}
#banner .swiper-control::before {
    display: block;
    content: "";
    background: var(--swiper-theme-color);
    height: 1px;
    width: 100%;
    align-self: center;
    margin-top: 8px;
}
#banner .swiper-button-next,
#banner .swiper-button-prev {
    position: static;
    width: 1.56rem;
    height: 1.56rem;
    font-size: 1.56rem;
}
#banner .swiper-button-next::before {
    content: "\f138";
}
#banner .swiper-button-prev::before {
    content: "\f137";
}
#banner .swiper-button-next::after {
    content: "";
}
#banner .swiper-button-prev::after {
    content: "";
}
#banner i {
    font-size: 1.7rem;
    color: var(--colorFontDark);
}
#banner .swiper-pagination.swiper-pagination-fraction {
    position: static;
    width: auto;
    display: flex;
    align-items: baseline;
    gap: 10px;
    font-size: 1.75rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1;
}
#banner .swiper-pagination-fraction .swiper-pagination-current {
    font-weight: 800;
    font-size: 2rem;
    color: var(--colorWhite);
}
.sec01 .inner > div.right {
    flex: 1 1 320px;
}
div.right .tabButton {
    width: 100%;
    height: 60px;
    border-radius: 7px;
    display: flex;
    margin: 0 0 10px 0;
    overflow: hidden;
}
div.right .tabButton > button {
    flex: 1 1 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
}
div.right .tabButton > button.on {
    color: var(--colorWhite);
}
div.right .tabButton > button:nth-of-type(1) {
    background: var(--colorOrangeDark);
}
div.right .tabButton > button:nth-of-type(2) {
    background: var(--colorBlueDark);
}
div.right .tabButton > button:nth-of-type(3) {
    background: var(--colorGreenDark);
}
div.right .tabButton > button.on:nth-of-type(1) {
    background: var(--colorOrange);
}
div.right .tabButton > button.on:nth-of-type(2) {
    background: var(--colorBlue);
}
div.right .tabButton > button.on:nth-of-type(3) {
    background: var(--colorGreen);
}
div.right .tabButton > button::before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 2px 0 0;
    opacity: 0.5;
}
div.right .tabButton > button.on::before {
    opacity: 1;
}
div.right .tabButton > button:nth-of-type(1)::before {
    background: url(/ex/images/duru/main_tab01.png) no-repeat 50% 50% / contain;
}
div.right .tabButton > button:nth-of-type(2)::before {
    background: url(/ex/images/duru/main_tab02.png) no-repeat 50% 50% / contain;
}
div.right .tabButton > button:nth-of-type(3)::before {
    background: url(/ex/images/duru/main_tab03.png) no-repeat 50% 50% / contain;
}
div.right .tabContent > .tabBox {
    display: none;
    flex-flow: row wrap;
    gap: 10px;
    color: #fff;
    justify-content: center;
}
div.right .tabContent > .tabBox.on {
    display: flex;
}
div.right .tabContent > .tabBox h2 {
    flex: 1 1 100%;
    height: 60px;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
div.right .tabContent > .tabBox h2 > span:first-child::after {
    content: "";
    width: 1px;
    height: 26px;
    background: #fff;
    display: inline-block;
    margin: 0 20px;
}
div.right .tabContent > .tabBox select {
    flex: 1 1 0;
    height: 30px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 7px;
    color: inherit;
    padding: 0 0 0 5px;
}
div.right .tabContent > .tabBox > div {
    flex: 1 1 100%;
    height: 324px;
    border: 1px solid #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.right .tabContent > .tabBox a {
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 80%;
    white-space: nowrap;
}
.sec02 {
    height: 195px;
}
.sec02 .inner {
    padding: 20px 60px;
    position: relative;
}
.sec02 .inner::after {
    content: "";
    width: 1080px;
    height: 1px;
    background: #c4c4c4;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}
.sec02 .inner a {
    width: 84px;
    height: 100%;
    display: block;
    padding: 100px 0 0 0;
    text-align: center;
    letter-spacing: -1px;
    color: var(--colorFontBasic);
}
.sec02 .inner a:hover {
    color: #464646;
}
.sec02 .inner a:nth-child(1) {
    background: url(/ex/images/duru/field_img01.png) no-repeat 50% 16px / auto;
}
.sec02 .inner a:nth-child(2) {
    background: url(/ex/images/duru/field_img02.png) no-repeat 50% 16px;
}
.sec02 .inner a:nth-child(3) {
    background: url(/ex/images/duru/field_img03.png) no-repeat 50% 16px;
}
.sec02 .inner a:nth-child(4) {
    background: url(/ex/images/duru/field_img04.png) no-repeat 50% 16px;
}
.sec02 .inner a:nth-child(5) {
    background: url(/ex/images/duru/field_img05.png) no-repeat 50% 16px;
}
.sec02 .inner a:nth-child(6) {
    background: url(/ex/images/duru/field_img06.png) no-repeat 50% 16px;
}

.sec03 .inner {
    padding: 20px 60px 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.sec03 .inner h2 {
    flex-shrink: 0;
    height: 36px;
    padding: 0 0 0 46px;
    background: url(/ex/images/duru/thumbs-up.svg) no-repeat 0 0 / contain;
}
.sec03 .inner h2 span {
    font-size: 0.875rem;
    color: var(--colorFontLight);
    margin: 0 0 0 10px;
}
.sec03 .inner h3 {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.5rem;
    color: #8EA9CC;
    position: relative;
}
.sec03 .inner h3 > a {
    position: absolute;
    right: 0;
    font-size: 3rem;
    line-height: 0;
    color: var(--colorFontBasic);
}
.sec03 .inner .recomandRoad {
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    gap: 0 30px;
    overflow-x: auto;
    overflow-y: visible;
    padding: 4px 0;
}
.recomandRoad > a {
    flex: 0 0 25%;
    max-width: 264px;
    padding: 0 0 20px;
    position: relative;
    font-size: 0.875rem;
    line-height: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}
.recomandRoad .lottie {
    height: 223px;
}
.recomandRoad.on > .lottie {
    display: none;
}
.recomandRoad.on > a {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 210px;
}

.recomandRoad .road {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    line-height: 1;
}
.recomandRoad > a.hae .road {
    background: var(--colorOrangeLight);
}
.recomandRoad > a.nam .road {
    background: var(--colorBlueLight);
}
.recomandRoad > a.seo .road {
    background: var(--colorGreenLight);
}

.recomandRoad .road span:first-child:after,
.recomandRoad .road span:nth-child(2):after {
    content: "";
    width: 1px;
    height: 9px;
    background: rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin: 0 5px;
}
.recomandRoad .area {
    color: var(--colorFontLight);
    padding: 15px 20px;
}
.recomandRoad h4 {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--colorFontBasic);
    padding: 15px 20px;
    letter-spacing: -1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recomandRoad .summary {
    color: var(--colorFontDark);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    width: 100%;
    padding: 0 20px;
    font-size: 0.875rem;
}
.recomandRoad > a.hae .tag {
    color: var(--colorOrangeLight);
}
.recomandRoad > a.nam .tag {
    color: var(--colorBlueLight);
}
.recomandRoad > a.seo .tag {
    color: var(--colorGreenLight);
}

.sec04 {
    height: 460px;
    background: linear-gradient(to right, #394841, #354046);
}
.sec04 .inner {
    flex-direction: column;
}
.sec04 .tabButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110px;
    color: #fff;
    position: relative;
}
.sec04 .tabButton h2 {
    width: 202px;
    height: 68px;
    font-size: 1.75rem;
    padding: 20px 20px 20px 68px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}
.sec04 .tabButton h2:nth-of-type(1) {
    background: url(/ex/images/duru/main_tab01.png) no-repeat 30px 50% / 30px 30px;
}
.sec04 .tabButton h2.on:nth-of-type(1) {
    background: var(--colorWhite) url(/ex/images/duru/main_tab01.png) no-repeat 30px 50% / 30px 30px;
    color: var(--colorFontDark);
}
.sec04 .tabButton h2:nth-of-type(2) {
    background: url(/ex/images/duru/main_tab02.png) no-repeat 30px 50% / 30px 30px;
}
.sec04 .tabButton h2.on:nth-of-type(2) {
    background: var(--colorWhite) url(/ex/images/duru/main_tab02.png) no-repeat 30px 50% / 30px 30px;
    color: var(--colorFontDark);
}
.sec04 .tabButton h2:nth-of-type(3) {
    background: url(/ex/images/duru/main_tab03.png) no-repeat 30px 50% / 30px 30px;
}
.sec04 .tabButton h2.on:nth-of-type(3) {
    background: var(--colorWhite) url(/ex/images/duru/main_tab03.png) no-repeat 30px 50% / 30px 30px;
    color: var(--colorFontDark);
}
.sec04 .tabButton a {
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
.sec04 .tabButton a.on {
    display: block;
}
.sec04 .tabButton a:nth-of-type(1) {
    background: var(--colorOrange);
}
.sec04 .tabButton a:nth-of-type(2) {
    background: var(--colorBlue);
}
.sec04 .tabButton a:nth-of-type(3) {
    background: var(--colorGreen);
}
.sec04 .tabContent {
    display: flex;
    flex-flow: column nowrap;
    height: 350px;
}
.tabContent > div {
    display: none;
    align-items: center;
    gap: 0 30px;
    width: 100%;
    height: 100%;
}
.tabContent > div.on {
    display: flex;
}
.tabContent > div > a {
    flex: 1 1 200px;
    padding: 165px 25px 15px;
    border-radius: 10px;
    background-color: var(--colorWhite);
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 150px;
}
.tabContent > div.hae > a.hae1 {
    background-image: url(/ex/images/duru/road_hae_01.jfif);
}
.tabContent > div.hae > a.hae2 {
    background-image: url(/ex/images/duru/road_hae_02.jfif);
}
.tabContent > div.hae > a.hae3 {
    background-image: url(/ex/images/duru/road_hae_03.jfif);
}
.tabContent > div.hae > a.hae4 {
    background-image: url(/ex/images/duru/road_hae_04.jfif);
}
.tabContent > div.hae > a.hae5 {
    background-image: url(/ex/images/duru/road_hae_05.jfif);
}
.tabContent > div.hae > a.hae6 {
    background-image: url(/ex/images/duru/road_hae_06.jfif);
}
.tabContent > div.hae > a.hae7 {
    background-image: url(/ex/images/duru/road_hae_07.jfif);
}
.tabContent > div.hae > a.hae8 {
    background-image: url(/ex/images/duru/road_hae_08.jfif);
}
.tabContent > div.hae > a.hae9 {
    background-image: url(/ex/images/duru/road_hae_09.jfif);
}
.tabContent > div.hae > a.hae10 {
    background-image: url(/ex/images/duru/road_hae_10.jfif);
}
.tabContent > div.nam > a.nam1 {
    background-image: url(/ex/images/duru/road_nam_01.jpg);
}
.tabContent > div.nam > a.nam2 {
    background-image: url(/ex/images/duru/road_nam_02.jpg);
}
.tabContent > div.nam > a.nam3 {
    background-image: url(/ex/images/duru/road_nam_03.jpg);
}
.tabContent > div.nam > a.nam4 {
    background-image: url(/ex/images/duru/road_nam_04.jpg);
}
.tabContent > div.nam > a.nam5 {
    background-image: url(/ex/images/duru/road_nam_05.jpg);
}
.tabContent > div.nam > a.nam6 {
    background-image: url(/ex/images/duru/road_nam_06.jfif);
}
.tabContent > div.nam > a.nam7 {
    background-image: url(/ex/images/duru/road_nam_07.jfif);
}
.tabContent > div.nam > a.nam8 {
    background-image: url(/ex/images/duru/road_nam_08.jfif);
}
.tabContent > div.nam > a.nam9 {
    background-image: url(/ex/images/duru/road_nam_09.jfif);
}
.tabContent > div.nam > a.nam10 {
    background-image: url(/ex/images/duru/road_nam_10.jfif);
}
.tabContent > div.seo > a.seo1 {
    background-image: url(/ex/images/duru/road_seo_01.jfif);
}
.tabContent > div.seo > a.seo2 {
    background-image: url(/ex/images/duru/road_seo_02.jfif);
}
.tabContent > div.seo > a.seo3 {
    background-image: url(/ex/images/duru/road_seo_03.jfif);
}
.tabContent > div.seo > a.seo4 {
    background-image: url(/ex/images/duru/road_seo_04.jfif);
}
.tabContent > div.seo > a.seo5 {
    background-image: url(/ex/images/duru/road_seo_05.jfif);
}
.tabContent > div.seo > a.seo6 {
    background-image: url(/ex/images/duru/road_seo_06.jfif);
}
.tabContent > div.seo > a.seo7 {
    background-image: url(/ex/images/duru/road_seo_07.jfif);
}
.tabContent > div.seo > a.seo8 {
    background-image: url(/ex/images/duru/road_seo_08.jfif);
}
.tabContent > div.seo > a.seo9 {
    background-image: url(/ex/images/duru/road_seo_09.jfif);
}
.tabContent > div.seo > a.seo10 {
    background-image: url(/ex/images/duru/road_seo_10.jfif);
}

.tabContent > div.hae > a > span {
    font-size: 0.875rem;
    color: var(--colorOrange);
}
.tabContent > div.nam > a > span {
    font-size: 0.875rem;
    color: var(--colorBlue);
}
.tabContent > div.seo > a > span {
    font-size: 0.875rem;
    color: var(--colorGreen);
}
.tabContent > div > a > p {
    color: var(--colorFontDark);
    letter-spacing: -2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.3;
    margin: 10px 0 0 0;
}
.sec05 {
    height: 500px;
}
.sec05 .inner {
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: space-between;
    gap: 0 55px;
    padding: 40px 0;
}
.sec05 .inner > * {
    flex-grow: 1;
    max-width: 380px;
}
.sec05 .inner > h2 {
    height: 50px;
    width: auto;
}
.sec05 .inner > h2::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    transform: translate(0, 12px);
}
.sec05 .inner > h2:nth-of-type(1)::after {
    background: var(--colorGreen);
}
.sec05 .inner > h2:nth-of-type(2)::after {
    background: var(--colorBlue);
}
.sec05 .inner > h2:nth-of-type(3)::after {
    background: var(--colorOrange);
}
.sec05 .inner span {
    font-size: 1.25rem;
}
.sec05 .inner > .tag {
    margin: 20px 0 0 0;
    height: 130px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    gap: 10px;
}
.sec05 .inner > .tag > a {
    padding: 7px 10px;
    border-radius: 5px;
    color: #fff;
}
.sec05 .inner > div.tag:nth-of-type(1) > a {
    background: var(--colorGreenLight);
}
.sec05 .inner > div.tag:nth-of-type(2) > a {
    background: var(--colorBlueLight);
}
.sec05 .inner > .road {
    margin: 20px 0 0 0;
    color: var(--colorFontBasic);
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}
.sec05 .inner > .road a {
    display: flex;
    align-items: baseline;
}
.sec05 .inner > .road a:hover {
    color: var(--colorFontDark);
}
.sec05 .inner > .road a > span:first-child {
    margin: 0 0 0 0;
    font-size: 2.125rem;
    line-height: 1;
    font-weight: 400;
}
.sec05 .inner > .road a > span:nth-child(2) {
    font-size: 0.875rem;
    margin: 0 10px 0 0;
}
.sec05 .inner > .road a > span:nth-child(3) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1 1 50%;
}
.sec05 .inner > .banner {
    height: 100%;
}
.sec05 .inner > .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec06 {
    height: 256px;
    display: flex;
}
.sec06 > div {
    width: 50%;
    height: 100%;
    display: flex;
}
.sec06 .left {
    background: #1553A3;
    padding: 0 40px 0 0;
    justify-content: flex-end;
    color: #fff;
}
.sec06 .right {
    background: #F5F7FE;
    padding: 0 0 0 40px;
    justify-content: flex-start;
}
.sec06 .halfinner {
    width: 560px;
    height: inherit;
    padding: 30px 0;
}
.sec06 .halfinner h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}
.sec06 .halfinner ul {
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec06 .halfinner ul li {
    padding: 0 0 0 15px;
    position: relative;
}
.sec06 .halfinner ul li:before {
    content: "";
    width: 2px;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sec06 .halfinner ul li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec06 .left a {
    color: #9eb9d9;
}
.sec06 .right a {
    color: var(--colorFontBasic);
}
.sec06 .left li:before {
    background: var(--colorOrange);
}
.sec06 .right li:before {
    background: var(--colorGreen);
}
footer {
    background: #333;
}
footer {
    display: flex;
    width: 100%;
    height: 85px;
}
footer:first-of-type {
    border-bottom: 1px solid #454545;
}
footer:last-of-type {
    border-top: 1px solid #131313;
}
footer select {
    width: 272px;
    height: 44px;
    border: 1px solid var(--colorFontLight);
    background: transparent;
    color: var(--colorFontLight);
    padding: 10px 20px;
    border-radius: 3px;
}
footer .copyright a:link,
footer .copyright a:visited {
    text-decoration: none;
    font-size: 0.875rem;
    color: var(--colorFontLight);
    font-weight: 600;
    margin: 0 20px 0 0;
}
footer address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    color: var(--colorFontLight);
}