@charset "UTF-8";

/* 롯데칠성 pc */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* Noto Sans KR 구글폰트 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid darkblue; */
}
:root {
  font-family: "Noto Sans KR", sans-serif;
}
.inner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 70px;
  font-weight: 400;
}
h2, h3 {
  font-size: 30px;
  line-height: 40px;
}
h4 {
  color: #4A4A4A;
  font-weight: 500;
  font-size: 20px;
}
p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -1.5px;
}
section:nth-child(1) .inner {
  padding: 80px 0 50px;
  gap: 18px;
}
section:nth-child(2) {
  background: url(/ex/images/lotte7/mountain.png) no-repeat 50% 0 / contain;
  margin: 0 0 200px;
}
section:nth-child(2) .inner {
  padding: 100px 0 0;
  gap: 60px;
}
section:nth-child(2) .inner > h2 {
  color: #FFF;
  font-size: 30px;
  line-height: 40px;
}
section:nth-child(2) .inner > h2 span {
  font-weight: 700;
}
section:nth-child(2) .inner > div {
  display: flex;
}
article {
  flex: 1 1 33%;
}
article:nth-child(2) {
  padding: 100px 0 0 0;
}
article:nth-child(3) {
  padding: 50px 0 0 0;
}
article > div {
  padding: 40px 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}