@charset "UTF-8";
/* 롯데칠성 t */
section:nth-child(1) .inner { width: 100%; padding: 50px 40px; } 
h1 { font-size: 50px; } 
h2, h3 { font-size: 25px; line-height: 1; } 
section:nth-child(1) p span:last-child { display: none; } 
section:nth-child(2) { background-size: 100% 400px; margin: 0 0 200px; } 
section:nth-child(2) .inner { width: 100%; padding: 50px 40px; gap: 20px; } 
section:nth-child(2) .inner > div { flex-direction: column; gap: 20px; } 
article { display: flex; flex-direction: row; flex: 1 1 33%; } 
article:nth-child(2) { padding: 0; } 
article:nth-child(3) { padding: 0; } 
article img { width: 200px; height: 170px; object-fit: cover; } 
article > div { padding: 20px 20px 0; gap: 10px; flex: 1; background: #fff; } 