@charset "UTF-8";
/* Masonry Flex Layout */

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
/* .masonryContainer {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.masonryItem {
  background-color: white;
  margin: 10px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
} */
.masonryContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  height: 1500px;
  /* 세로로 쌓아 오른쪽으로 확장하는 개념이라 정확한 구조 표현이 어려움 */
}
.masonryItem {
  background-color: white;
  margin: 10px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.masonryItem img {
  width: 100%;
  display: block;
}