@charset "UTF-8";

/* 네이버랩스 t */
body, main {
    min-width: 640px;
}
header {
    min-width: 640px;
    height: 50px;
    border-bottom: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}
header a.logo {
    width: 150px;
    height: 50px;
    background: url("/ex/images/naver/NAVERLABS_LOGO_SMALL_WHITE.png") 50% 50% no-repeat;
    background-size: contain;
    margin: 0;
}
header .menu {
    width: 100%;
    height: 100vh;
    padding: 100px 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: #0078ff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
    z-index: 210;
}
header .menu.on {
    display: flex;
}
header .menu span {
    color: #fff;
    height: 2rem;
    line-height: 2rem;
    font-size: 2rem;
    margin: 0 0 30px 0;
    padding: 0;
    cursor: pointer;
}
header .menu .mclose {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 2rem;
}
header .bt {
    display: none;
}
header i.mmenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    z-index: 200;
}


main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 20px;
}
main aside {
    width: calc(100% - 170px);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0 0 0 130px;
    overflow-x: auto;
    overflow-y: hidden;
    position: fixed;
    top: 50px;
    left: 20px;
    background: #fff;
    z-index: 100;
}
main aside span:first-child {
    margin: 0;
    position: fixed;
    top: 50px;
    left: 0px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 100;
    background: #fff;
}
main aside button,
.keywordGroup button {
    flex-shrink: 0;
    height: 28px;
    margin: 0 10px 0 0;
    position: relative;
    z-index: 10;
}
main .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 80px 0 0 0;
}



footer {
    min-width: 640px;
    height: auto;
    flex-direction: column;
    padding: 20px 50px;
    margin: 0 0 30px 0;
}
footer ul {
    margin: 0 0 15px 0;
}
/* 스크롤버튼 */
.scroll:link,
.scroll:visited {
    width: 100%;
    height: 30px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}