@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
/* font-awsome v5.10 */
@import url('https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css');
/* swiper 8.4.6 */

/* 네이버랩스 pc */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    word-break: keep-all;
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #212121;
}
body, main {
    min-width: 1024px;
}
header {
    width: 100%;
    min-width: 1024px;
    height: 100px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a.logo {
    width: 185px;
    height: 50px;
    background: url("/ex/images/naver/NAVERLABS_LOGO_BLACK_v2.png") 50% 50% no-repeat;
    background-size: contain;
    margin: 0 100px 0 0;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
}
header .menu {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu span {
    letter-spacing: 0.15rem;
    font-weight: 700;
    padding: 5px 5px 10px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    /* hover이벤트시 box-sizing: border-box;로 인해 안쪽으로 선이 생성되면 객체의 사이즈에 영향을 줘서 덜커덕 거린다. 그부분을 해결하는 방법은 투명한상태의 선을 넣어두는것이다. */
}
header .menu span:first-child,
header .menu span:hover {
    /* border-bottom: 3px solid #0078ff; */
    border-bottom-color: #0078ff;
}
header .menu .mclose {
    display: none;
}
header .bt {
    font-size: 0.8rem;
    padding: 5px 10px;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
    margin: 0 0 0 50px;
}
header .bt:hover {
    background: #0078ff;
    border: 1px solid #0078ff;
    color: #fff;
}
header i.mmenu {
    display: none;
}
main {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 20px auto 0px;
    padding: 12px;
}
main aside {
    width: 160px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    /* button은 인라인요소이고, flex에서 align-items를 선언하지 않으면 객체의 높이가 늘어나는 stretch가 적용된다.
    피봇이 되어있는 상태에서 키워드 내용만큼의 넓이를 가져야하므로 align-items: flex-start;로 선언해서 stretch를 해제한다. */
}
main aside span:first-child {
    font-weight: 700;
    display: block;
    margin: 0 0 30px 0;
}
main aside button,
.keywordGroup button {
    padding: 3px 7px 5px;
    color: #666;
    cursor: pointer;
    margin: 0 0 15px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}
main aside button:hover,
.keywordGroup button:hover {
    background: #0078ff;
    border: 1px solid #0078ff;
    color: #fff;
}

main .content {
    width: 820px;
    display: flex;
    flex-direction: column;
}
main .content .maincontent {
    border-bottom: 1px solid #a1a1a1;
    width: 100%;
    padding: 0 0 30px 0;
}
main .content .maincontent img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    cursor: pointer;
}
main .content .maincontent h1 {
    font-size: 2.14rem;
    line-height: 2.14rem;
    font-weight: 600;
    margin: 30px 0 0 0;
    cursor: pointer;
}

main .content .maincontent .date {
    color: #888;
    width: 100%;
    height: 30px;
    margin: 20px 0 0 0;
}
main .content .maincontent .date span:first-child {
    margin: 0 28px 0 0;
    position: relative;
}
main .content .maincontent .date span:first-child::after {
    width: 1px;
    height: 12px;
    background: #ccc;
    content: "";
    position: absolute;
    top: 5px;
    right: -17px;
}
main .content .sort {
    font-size: 1.05rem;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    margin: 20px 0 0 0;
    position: relative;
}
main .content .sort::before {
    /* main .content .sort::after{ */
    content: "\f0dd";
    position: absolute;
    top: 0;
    left: 70px;
    /* 유니코드 또는 헥사코드를 이용하여 css로 폰트어썸을 사용하는 경우!
    ::befoer는 단독사용 가능
    ::after로 사용하면 2개가 붙으니, 사용안하는 것을 none처리 하거나,
    ::before만 쓰고 위치를 position처리를 한다. */
}
main .content .columnBox {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
    cursor: pointer;
}
main .content .maincontent:hover h1,
main .content .columnBox:hover > div:first-child h2 {
    color: #0078ff;
}
.columnBox > div:first-child {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.columnBox > div:first-child h2 {
    width: 100%;
    font-size: 1.375rem;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.columnBox > div:first-child .substance {
    color: #666;
    /* 크로스브라우징이 있으나 ie를 제외한 mutiline ellipsis사용법 */
    /* 웹킷 계열에서는 display 속성에 box라는 것이 있다.
    방향성을 수직으로 하고 원하는 줄 수를 설정해 준다.
    텍스트는 height 값이 아니라, line-height으로 높이가 결정되며,
    줄 수만큼 곱해서 max-height 값을 설정해 준다. */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    max-height: 3rem;
}
.columnBox > div:first-child .date {
    height: 15px;
    font-size: 0.8rem;
    color: #888;
}
.columnBox > div:first-child .date span:first-child {
    margin: 0 28px 0 0;
    position: relative;
}
.columnBox > div:first-child .date span:first-child::after {
    width: 1px;
    height: 10px;
    background: #ccc;
    content: "";
    position: absolute;
    top: 4px;
    right: -15px;
}

.columnBox > div:first-child .keywordGroup {
    display: flex;
    flex-direction: row;
}
.columnBox > div:first-child .keywordGroup button {
    margin: 0 20px 0px 0;
}
.columnBox .thumnail {
    width: 240px;
    height: 135px;
}
.columnBox.b01 .thumnail {
    background: url(/ex/images/naver/1699317662105.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.columnBox.b02 .thumnail {
    background: url(/ex/images/naver/1700132890058.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.columnBox.b03 .thumnail {
    background: url(/ex/images/naver/1700645027818.jpeg) 50% 50% no-repeat;
    background-size: cover;
}
.columnBox.b04 .thumnail {
    background: url(/ex/images/naver/1701399880323.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.columnBox.b05 .thumnail {
    background: url(/ex/images/naver/1702864550955.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.columnBox.b06 .thumnail {
    background: url(/ex/images/naver/1703814034286.jpg) 50% 50% no-repeat;
    background-size: cover;
}
footer {
    width: 100%;
    min-width: 1024px;
    height: 150px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a1a1a1;
    font-size: 0.8rem;
}
footer ul {
    display: inline-flex;
    height: 27px;
    margin: 0 170px 0 0;
}
footer ul li {
    display: inline-flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0 20px 0 0;
    cursor: pointer;
}
footer ul li:hover,
footer div span:hover {
    color: #fff;
}
footer ul li i {
    font-size: 1.8rem;
    margin: 0 3px 0 0;
}
footer div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer div span {
    margin: 0 0 0 10px;
    position: relative;
    cursor: pointer;
}
footer div span:first-child::after {
    width: 1px;
    height: 12px;
    background: #555;
    content: "";
    position: absolute;
    top: 3px;
    right: -6px;
}
footer div select {
    margin: 0 20px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #a1a1a1;
    padding: 4px 7px 7px;
}

/* 스크롤버튼 */
.scroll:link,
.scroll:visited {
    width: 30px;
    height: 30px;
    line-height: 1.8rem;
    background: #000;
    position: fixed;
    right: 20px;
    bottom: 170px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}
.scroll:hover,
.scroll:active {
    background: #ccc;
    color: #212121;
}