@charset "UTF-8";
/* 디자인한 프로필 m */

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
body {
  padding: 20px 40px;
  min-width: 440px;
}
main {
  width: initial;
  height: 100%;
  flex: 1;
  padding: 20px 40px;
  align-items: flex-start;
  overflow-y: auto;
}
h1 {
  font-size: 48px;
  align-self: stretch;
  text-align: center;
}
main > div {
  flex-direction: column;
  gap: 40px;
}
section {
  align-items: center;
}
section * {
  align-self: stretch;
}
section h2 {
  font-size: 24px;
}
section .profileImg {
  width: 240px;
  height: 240px;
}
.contact {
  flex-direction: column;
  gap: 12px;
}