@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* Noto Sans KR 폰트 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  min-width: 1080px;
}
#map {
  height: 500px;
}
.overlayInfo {
  width: 286px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  bottom: 40px;
  left: 0;
  transform: translateX(-50%);
}
.overlayInfo .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  background: #faaf0d;
}
.overlayInfo .title button {
  background: none;
  border: none;
  cursor: pointer;
}
.overlayInfo .content {
  height: 80px;
}